<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Graphic-shape 626.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,296},{70,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,18}}</string>
        <key>sourceSize</key>
        <string>{70,18}</string>
      </dict>
      <key>Graphic-shape 624.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,219},{130,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,85}}</string>
        <key>sourceSize</key>
        <string>{130,85}</string>
      </dict>
      <key>Graphic-shape 623.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,122},{131,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,95}}</string>
        <key>sourceSize</key>
        <string>{131,95}</string>
      </dict>
      <key>Graphic-shape 617.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{131,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,105}}</string>
        <key>sourceSize</key>
        <string>{131,105}</string>
      </dict>
      <key>Graphic-shape 622.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,102},{119,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,115}}</string>
        <key>sourceSize</key>
        <string>{119,115}</string>
      </dict>
      <key>Graphic-shape 621.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{123,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,120}}</string>
        <key>sourceSize</key>
        <string>{123,120}</string>
      </dict>
      <key>Graphic-shape 620.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,107},{116,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,116}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>MovieClip-sprite 615.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,288},{82,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,73}}</string>
        <key>sourceSize</key>
        <string>{82,73}</string>
      </dict>
      <key>Graphic-shape 625.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,306},{132,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,81}}</string>
        <key>sourceSize</key>
        <string>{132,81}</string>
      </dict>
      <key>Graphic-shape 619.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{97,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,108}}</string>
        <key>sourceSize</key>
        <string>{97,108}</string>
      </dict>
      <key>MovieClip-sprite 561.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,102},{71,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,59}}</string>
        <key>sourceSize</key>
        <string>{71,59}</string>
      </dict>
      <key>Graphic-shape 613.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,288},{27,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,21}}</string>
        <key>sourceSize</key>
        <string>{27,21}</string>
      </dict>
      <key>Graphic-shape 618.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,329},{111,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,29}}</string>
        <key>sourceSize</key>
        <string>{111,29}</string>
      </dict>
      <key>Graphic-shape 574.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,0},{35,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,68}}</string>
        <key>sourceSize</key>
        <string>{35,68}</string>
      </dict>
      <key>Graphic-shape 573.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,70},{34,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,69}}</string>
        <key>sourceSize</key>
        <string>{34,69}</string>
      </dict>
      <key>Graphic-shape 572.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,269},{29,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,63}}</string>
        <key>sourceSize</key>
        <string>{29,63}</string>
      </dict>
      <key>Graphic-shape 571.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,204},{30,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,63}}</string>
        <key>sourceSize</key>
        <string>{30,63}</string>
      </dict>
      <key>Graphic-shape 570.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,204},{30,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,63}}</string>
        <key>sourceSize</key>
        <string>{30,63}</string>
      </dict>
      <key>Graphic-shape 569.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,163},{31,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,67}}</string>
        <key>sourceSize</key>
        <string>{31,67}</string>
      </dict>
      <key>Graphic-shape 568.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,269},{30,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,60}}</string>
        <key>sourceSize</key>
        <string>{30,60}</string>
      </dict>
      <key>Graphic-shape 567.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,226},{30,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,62}}</string>
        <key>sourceSize</key>
        <string>{30,62}</string>
      </dict>
      <key>Graphic-shape 566.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,232},{30,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,62}}</string>
        <key>sourceSize</key>
        <string>{30,62}</string>
      </dict>
      <key>Graphic-shape 565.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,163},{32,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,61}}</string>
        <key>sourceSize</key>
        <string>{32,61}</string>
      </dict>
      <key>Graphic-shape 616.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,225},{111,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,61}}</string>
        <key>sourceSize</key>
        <string>{111,61}</string>
      </dict>
      <key>Graphic-shape 559.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,141},{40,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,61}}</string>
        <key>sourceSize</key>
        <string>{40,61}</string>
      </dict>
      <key>Graphic-shape 558.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,100}}</string>
        <key>sourceSize</key>
        <string>{200,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>armature_monster3.png</string>
      <key>textureFileName</key>
      <string>armature_monster3.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>