<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_logo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{251,126}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{251,126}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{265,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{265,132}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,770},{267,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{267,128}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo12.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,660},{267,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{267,132}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo13.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,638},{269,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{269,130}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{269,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{269,132}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo15.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,398},{271,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,128}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo16.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,268},{271,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,128}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{271,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,132}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo18.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{271,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,132}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo19.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,268},{271,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,130}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1444},{253,128}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{253,128}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo20.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,400},{271,102}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,102}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo21.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,136},{271,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,130}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{271,124}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,124}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo23.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{271,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,132}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{271,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,128}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo25.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,136},{271,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,130}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo26.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{271,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,132}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{271,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,132}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo28.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,504},{269,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{269,132}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo29.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,275},{269,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{269,132}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{255,128}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{255,128}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo30.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,528},{269,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{269,130}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo31.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,546},{267,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{267,132}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{267,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{267,132}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo33.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,900},{265,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{265,128}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo34.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,794},{265,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{265,128}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo35.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,924},{263,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{263,128}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo36.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,815},{263,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{263,130}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo37.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1154},{261,126}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{261,126}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo38.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1054},{261,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{261,130}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo39.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1080},{259,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{259,130}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1316},{257,126}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{257,126}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo40.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1282},{257,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{257,128}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{257,126}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{257,126}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo42.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1412},{255,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{255,130}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo43.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1544},{253,126}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{253,126}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo44.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1341},{253,128}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{253,128}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{251,126}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{251,126}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1186},{259,128}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,128}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{259,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{259,130}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{261,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{261,130}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1030},{263,122}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{263,122}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
            <key>anim_logo9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{265,126}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{265,126}}</string>
                <key>sourceSize</key>
                <string>{271,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_logo.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b31224da7ee61a007c3ef721edfe416$</string>
            <key>textureFileName</key>
            <string>anim_logo.png</string>
        </dict>
    </dict>
</plist>
