<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>MovieClip-sprite 1860.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,29},{120,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,78}}</string>
        <key>sourceSize</key>
        <string>{120,78}</string>
      </dict>
      <key>MovieClip-sprite 1857.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,109},{78,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,72}}</string>
        <key>sourceSize</key>
        <string>{78,72}</string>
      </dict>
      <key>MovieClip-sprite 1854.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{141,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,69}}</string>
        <key>sourceSize</key>
        <string>{141,69}</string>
      </dict>
      <key>MovieClip-sprite 1851.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,165},{52,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,84}}</string>
        <key>sourceSize</key>
        <string>{52,84}</string>
      </dict>
      <key>MovieClip-sprite 1848.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130,177}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,177}}</string>
        <key>sourceSize</key>
        <string>{130,177}</string>
      </dict>
      <key>MovieClip-sprite 1845.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,165},{53,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,91}}</string>
        <key>sourceSize</key>
        <string>{53,91}</string>
      </dict>
      <key>MovieClip-sprite 1842.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,125},{69,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,80}}</string>
        <key>sourceSize</key>
        <string>{69,80}</string>
      </dict>
      <key>MovieClip-sprite 1839.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,29},{70,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,94}}</string>
        <key>sourceSize</key>
        <string>{70,94}</string>
      </dict>
      <key>MovieClip-sprite 1836.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,71},{60,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,95}}</string>
        <key>sourceSize</key>
        <string>{60,95}</string>
      </dict>
      <key>MovieClip-sprite 1833.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,168},{60,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,65}}</string>
        <key>sourceSize</key>
        <string>{60,65}</string>
      </dict>
      <key>MovieClip-sprite 1830.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,71},{89,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,92}}</string>
        <key>sourceSize</key>
        <string>{89,92}</string>
      </dict>
      <key>MovieClip-sprite 1827.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{193,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{193,27}}</string>
        <key>sourceSize</key>
        <string>{193,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>armature_boss3.png</string>
      <key>textureFileName</key>
      <string>armature_boss3.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>